.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: var(--ion-color-medium);
  font-size: 16px;
}

ion-button {
  margin: 20px;
}

.active {
  color: var(--ion-color-success);
  font-weight: bold;
}

.inactive {
  color: var(--ion-color-danger);
  font-weight: bold;
}
